body {
    padding-top: 50px;
    background-color: #25242c;
    background-image: url('../images/back10.png');
    background-repeat: repeat;
    background-attachment: fixed;
}

.img-responsive:hover {
    opacity: 0.6;
}

.thumbnail .text {
    left: 0px;
    visibility: hidden;
    margin-bottom: 20px;
    position: relative;
}

.thumbnail:hover .text {
    visibility: visible;
}

.navbar-btn {
    background-color: #ECDFBD;
    
    border-radius: 2px;
    /*border-left: 3px solid #ECDFBD;*/
    font-family: 'fertigo_proregular', sans-serif;
    /*color: #FFF;*/
    color: #000;
    font-size: 15px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
}

.navbar-btn:hover {
    background: #fff;
    text-decoration: none;
}

.navbar-brand img {
    -webkit-transition: -webkit-transform .8s ease-in-out;
    -ms-transition: -ms-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}

.navbar-brand img:hover {
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 0.3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

.flat-btn {
    vertical-align: top;
    width: 100%;
    max-height: 50px;
    font-size: 20px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    font-family: 'fertigo_proregular', sans-serif;
    /*background: url('../images/back3.png');*/
    background-color: #3B3B33;
    cursor: pointer;
    /*border: solid 3px #FFF;*/
    /*outline: 10px solid #222;*/
    border-top: solid 10px #222;
    border-bottom: solid 10px #222;
    border-left-color: transparent;
    border-right-color: transparent;
    position: relative;
}

.flat-btn:active {
    top: 1px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.flat-btn:hover {
    color: #dcbfc3;
}

.flat-btn-wrapper {
    max-width: 100%;
    width: 100%;
    max-height: 50px;
    position: fixed;
    bottom: 0px;
    left: 0px;
}

/* popup modal */

.popup-modal {
    max-width: 550px;
    background: #ECDFBD;
    font-family: 'fertigo_proregular', sans-serif;
    margin: 0 auto;
}

.popup-modal .description-box {
    font-family: 'fertigo_proregular', sans-serif;
    padding: 12px 36px 18px 36px;
}

.popup-modal .description-box h4 {
    font: 15px/24px 'fertigo_proregular', sans-serif;
    margin-bottom: 12px;
    color: #111;
}

.popup-modal .description-box p {
    font: 14px/24px 'fertigo_proregular', sans-serif;
    color: #A1A1A1;
    margin-bottom: 12px;
}

.popup-modal .description-box .categories {
    font: 11px/21px 'fertigo_proregular', sans-serif;
    color: #A1A1A1;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    text-align: left;
}

.popup-modal .description-box .categories i {
    margin-right: 8px;
}

.popup-modal .link-box {
    padding: 18px 36px;
    background: #3B3B33;
    text-align: left;
}

.popup-modal .link-box a {
    color: #fff;
    font: 11px/21px 'fertigo_proregular', sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
    cursor: pointer;
}

.popup-modal a:hover {
    color: #00CCCC;
}

.popup-modal a.popup-modal-dismiss {
    margin-left: 24px;
}

.popup-modal .link-box h2 {
    color: #fff;
}
/* fadein/fadeout effect for modal popup
/* ------------------------------------------------------------------ */
/* content at start */

.mfp-fade.mfp-wrap .mfp-content .popup-modal {
    opacity: 0;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
/* content fadein */

.mfp-fade.mfp-wrap.mfp-ready .mfp-content .popup-modal {
    opacity: 1;
}
/* content fadeout */

.mfp-fade.mfp-wrap.mfp-removing .mfp-content .popup-modal {
    opacity: 0;
}

.vertical-alignment-helper {
    display: table;
    height: 100%;
    width: 100%;
    pointer-events: none;
    /* This makes sure that we can still click outside of the modal to close it */
}

.modal-vertical-centered {
    transform: translate(0, 50%) !important;
    -ms-transform: translate(0, 50%) !important;
    /* IE 9 */
    
    -webkit-transform: translate(0, 50%) !important;
    /* Safari and Chrome */
}

.link-box h4 {
    color: #FFF;
}

table {
    width: 100%;
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

#modal-wrapper-div {
    border: solid 3px #ECDFBD;
}

#link-box-top {
    padding: 0 0 75px 0;
    background: #3B3B33;
}

#link-box-top h2,
#link-box-top h4 {
    padding: 0;
    font: 19px/21px 'fertigo_proregular', sans-serif;
    height: auto;
}

#book-cover,
#book-header {
    float: left;
}

#book-cover,
#book-cover img {
    background-color: #FFF;
    max-width: 75px;
    max-height: 75px;
}

#book-header {
    max-width: 75%;
    padding-left: 2em;
    max-height: 75px;
    color: #FFF;
}